
* {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}


body {
  font-family: sans-serif;
}

.siteicon {
  line-height: 0px;
  vertical-align: top;
}

.inappaccountinfo {
  position:absolute;
  right: 0px;
  height: 40px;
  text-align: right;
  padding: 1px;
}

.inappaccountinfo > a {
  line-height: 30px;
  margin-right: 20px;
  text-decoration: none;
  color: white;
}

.inappaccountinfo > span > a {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: white;
}
.inappaccountinfo > span > span {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: white;
}

.inappaccountinfo > span > img {
  width: 30px;
  height: 30px;
  margin-left: 0px;
  margin-right: 20px;
  text-decoration: none;
  line-height: 0px;
  vertical-align: middle;
}



.drawingcanvas {
  width: 100%;
  height: 100%;
}



.sprayradiuslabel {
  color: white;
  font-weight: bold;
  width: 100%;
  text-align: center;
}


.gallerydiv {
  display: inline-block;
  margin: 10px;
  width: 74px;
  height: 74px;
}

.gallerycanvas {
  width: 64px;
  height: 64px;
  top: 0px;
  left: 0px;
  background-color: white;
}

.gallerydelete {
  color: red;
    position: relative;
    top: -76px;
    right: -57px;
    background-color: black;
    border-radius: 10px;
    width: 12px;
    padding: 3px;
    cursor: pointer;
    font-size: xx-small;
    font-weight: bold;
    display: inline;
}

.gallerypalleticon {
    position: relative;
    top: -75px;
    right: 5px;
    padding: 0px;
    cursor: pointer;
}

.gallerybgicon {
    position: relative;
    top: -75px;
    right: 4px;
    padding: 0px;
    cursor: pointer;
}


#COLOURPALLETSTORE {
  overflow-y: scroll;
  height: 125px;
  line-height: 0px;
}


#TOOLOPTIONSCONTENT {
  margin: 3px;
}



.layercontainer { 
  background-color: #999988;
  padding: 0px;
  line-height: 0px;  
}

div.layercontainer:nth-child(odd) { 
  background-color: #998899;
}

div.currentlayercontainer:nth-child(n) {
  background-color: green;
}

.layerwindowcanvas {
  margin: 0px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-top-style: none;
  border-left-style: none;
  border-width: 1px;
  display: inline-block;
}

.layerinfo {
  display: inline-block;
  height: 32px;
  vertical-align: top;
  padding: 2px;
}

.layername {
  font-family: sans-serif;
  font-size: xx-small;
  display: inline-block;
  width: 120px;
  vertical-align: top;
  border-style: solid;
  height: 12px;
  border-width: 1px;
  line-height: 11px;
  padding-left: 3px;
  overflow: hidden;
  color: white;
  border-color: black;
}

.editlayername {
  display: inline-block;
  cursor: pointer;
  background-image: url(https://cdn.glitch.global/0ea8c714-b2da-476b-bcef-3909d11dea2b/editicon.png?v=1646912425917);
  width: 16px;
  height: 12px;
}

.editlayername:hover {
  background-color: yellow;
  border-radius: 6px;
}


.layercontrols {
  
}

.layercontrolbutton {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-top: 1px;
  margin-left: 1px;
  border-radius: 6px;
}

.layercontrolbutton:hover {
  background-color: yellow; 
}


.buttonfeatureenabled {
  background-color: #00ff00;
}

.buttonfeaturedisabled {
 background-color: none;
}


.currentframenumber {
    display: inline-block;
    height: 18px;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: x-small;
    line-height: 11px;
    width: 72px;
    text-align: center;
    margin: 0px;
    vertical-align: top;
}



.framecontainer {
  line-height: 0px;
  border-bottom: 1px solid;
}

.framecontainercurrent {
  background-color: green;
}

.frametools {
  display: inline-block;
  vertical-align: top;
  margin: 7px;
}

